 * {
     margin: 0;
     padding: 0;
     font-family: Klukva;
 }

 div.main::-webkit-scrollbar,
 div.footer::-webkit-scrollbar,
 html::-webkit-scrollbar {
     width: 0px;
 }

 body {
     background: rgb(63, 94, 251);
     background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%,
             rgba(252, 70, 107, 0.667) 90%);
 }

/* Стили для Главной*/
 .main_block {
     
     width: 70%;
     font-size: 150%;
     justify-content: center;
     display: flex;
     
     flex-direction: column;
 }

div[class^=suv-] {
     flex-direction: column;
     flex-wrap: wrap;
     display: flex;
     text-align: justify;
     margin: auto;
 }

 .sidebar-1 {
     display: flex;
     justify-content: end;
 }

 #story_sidebar {
     font-size: 100%;
     top: 0
 }

 .headerr {
     order: 1;
     display: flex;
     text-align: center;
     justify-content: flex-end;
     padding: 1%;
     margin: auto;
 }
 
 img[class^=sphoto-] {
     text-align: center;
     margin: auto;
     border-radius: 3px;
     /*width: 30vw;*/
     order:3;
 } 

 .sphoto-2 {
     height: 90vh;
     width: 60vw;
 }

 .text {
     order: 2;
     display: flex;
     padding: 2%;
     max-width: 80%;
     margin: auto;
     word-break: normal;
 }

 /* стили для галереи*/
 .rus {
     margin: auto;
     padding-left: 30%;
     padding-top: 2%;
     text-transform: uppercase;
 }

 .gal_img {
     border-radius: 8px;
     width: 290px;

     transition-property: width, border-radius;
     transition-duration: .3s;
 }

 .photo1 {
     margin-left: 15%;
     margin-bottom: 2%;
 }

 .photo {
     width: fit-content;
     display: flex;
     order: 3;
     margin: auto;
     border-width: 5px;
     border-color: black;
     display: inline-block;
     /*Строчно-блочный элемент*/
     position: relative;
     /*Относительное позиционирование*/
 }

 .photo:hover::before {
     content: attr(data-title);
     /* Выводим текст */
     position: absolute;
     /* Абсолютное позиционирование */
     left: 0;
     right: 0;
     top: 0%;
     /* Положение подсказки */
     z-index: 1;
     /* Отображаем подсказку поверх других элементов */
     background: rgba(128, 128, 128, 0.5);
     /* Полупрозрачный цвет фона */
     color: #090909;
     /* Цвет текста */
     text-align: center;
     /* Выравнивание текста по центру */
     font-family: sans-serif;
     /* Гарнитура шрифта */
     font-size: 15px;
     /* Размер текста подсказки */
     padding: 5px 15px;
     /* Поля */
     border-radius: 0px 0px 3px 3px;
 }

 aside[class^=sidebar] {
     font-size: 140%;
     padding: 5% 6vw 30% 5vw;
     right: 0%;
     position: fixed;
     width: 20%;
     text-align: end;
 }

 .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-navigation {
     order: 3;
     flex-basis: 30%;
     flex-shrink: inherit;
     display: flex;
     justify-content: center;
     align-items: flex-start;
     padding: 10px;
     margin: 7vh auto;
     font-size: 140%;
}

.flex-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    width: 80%;
}

.flex-text {
     display: flex;
     min-height: 5vh;
     margin-bottom: 1vh;
     order: 1;
     justify-content: center;
}

.flex-image {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     order: 2;
}

.gal_img {
    border-radius: 10%;
    padding: 5px;
    transition: transform 0.5s, z-index;
}

.gal_img:hover {
     transform: scale(1.5);
     z-index: 2;
     border-radius: 15%;
}

/* Стили для Событий*/
 img[class^=photo-] {
     margin: 2%;
     border-radius: 3px;
 }

 img[class^=photo-]:hover {
    box-shadow: 10px 5px 5px rgba(68, 36, 81, 0.474);
}

 .event {
     font-size: 150%;
     padding-top: 2%;
     padding-left: 2%;
     display: block;
     text-align: center;
     width: 70%; 
 }

 .description {
     text-overflow: ellipsis;
     text-align: justify;
     padding: 3%;
     padding-top: 1%;
     font-weight: bold;
 }

 .description1 {
     text-align: justify;
     padding: 3%;
     padding-top: 1%;
     color: aliceblue;
 }

 .info {
     /* width: 70%; */
     display: inline-block; 
 }

 .head {
     text-align: center;
     color: #f0f0f0;
     font-style: oblique;
     font-weight: bold;
     font-size: xx-large;
 }
 


 .dropdown {
     text-align: center;
     margin-bottom: 0%;
     position: relative;
     display: inline-block;
 }

 .dropbtn {
     background-color: #8b538582;
     color: azure;
     padding: 16px;
     font-size: 100%;
     border: none;
 }

 .dropdown-content {
     display: none;
     position: absolute;
     background-color: #f1f1f1;
     min-width: 100%;
     box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
     z-index: 1;
 }

 .dropdown-content a {
     text-align: center;
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
 }

 .dropbtn:hover ~ .dropdown-content {
     display: block;
 }

 .dropdown-content:hover {
    display: block;
 }

 .dropdown:hover .dropbtn {
     background-color: #68336c;
 }

 .dropbtn:hover ~ .navigate {
     transform: translate3d(0, 14vh, 0);
 }

 .navigate {
     transition-property: transform;
     transition-duration: .6s;
 }

 .left,
 .right {
     padding-top: 15%;
     min-width: 50%;
     align-items: center;
     text-align: center;
     display: block;
     margin: 10px;
     padding: 5px 10px;
     background-color: #f0f0f0;
     border: 1px solid #ccc;
     border-radius: 5px;
 }


 .left a,
 .right a {
     text-decoration: none;
     display: block;
 }


 /* Контейнер подсказок */
 .tooltip {
     top: 2%;
    
     position: relative;
     display: inline-block;
     border-bottom: 1px dotted black;
 }

 /* Текст подсказки */
 .tooltip .tooltiptext {
     visibility: hidden;
     width: 300px;
     background-color: rgba(0, 0, 0, 0.6);
     color: #fff;
     text-align: center;
     padding: 5px 0;
     border-radius: 6px;

     /* Расположение текста подсказки */
     position: absolute;
     z-index: 1;
     top: 125%;
     left: 20%;
     margin-left: -60px;

     /* Исчезают в подсказке */
     opacity: 0;
     transition: opacity 0.3s;
 }

 /* Подсказка стрелка */
 .tooltip .tooltiptext::after {
     content: "";
     position: absolute;
     bottom: 100%;
     left: 50%;
     margin-left: -5px;
     border-width: 5px;
     border-style: solid;
     border-color: #131313 transparent transparent transparent;
     transform: rotate(180deg);
 }

 /* Отображение текста подсказки при наведении курсора мыши на контейнер подсказки */
 .tooltip:hover .tooltiptext {
     visibility: visible;
     opacity: 1;
 }


 .flag {
     width: 300px;
     height: 100px;
     transition-duration: 7s;
     transition-property: transform;
     position: relative;
     display: block;
     left: 2vw;
     margin-top: 3%;
 }

 .flag img {
     height: 100px;
 }

 body:hover .flag {
     transform: translate3d(60vw, -20vh, 50px) rotateX(360deg);
 }

 .flag-1 {
     transition-timing-function: ease;
 }


 @media screen and (width: 400px) {
     header {
         padding: 10px;
     }

     /* body {
        padding: 10px;
    } */

     .dropdown:hover .navigate {
         transform: translate3d(-5vh, -1vh, 0px);
     }

     .rus {
         text-decoration-line: line-through;
     }

     aside {
         size: 50%;
     }

     img[class^=photo] {
         width: 200px;
         height: 100px;
     }
 }


 @media print {

     aside[class^=sidebar-], .flex-navigation {
        display: none;
     }
     
     .gal_img {
         size: 25%;
     }
     .flex-main {

         width: 100%;
     }

 }

 @font-face {
    font-family: 'full-power';
    src: url(../fonts/fontello-0e73dbfa/font/full-power.eot);

    font-weight: normal;
    font-style: normal;
 }